[Unit]
Description=Refresh Grafana password every 5 minutes

[Timer]
OnBootSec=5s
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
