[aws]
aws_region_name = <REGION>

[global]
sanity_check = true
cluster_template = cluster
update_check = true

[vpc my-vpc]
vpc_id = <VPC_ID>
master_subnet_id = <SUBNET_ID>
additional_sg = <ADDITIONAL_SG>

[cluster cluster]
key_name = <KEY_PAIR>
vpc_settings = my-vpc
master_instance_type=c5.2xlarge
scheduler=slurm
s3_read_write_resource=arn:aws:s3:::<MY_S3_BUCKET>*
post_install = s3://<MY_S3_BUCKET>/post-install.sh
post_install_args = https://github.com/aws-samples/aws-parallelcluster-monitoring/tarball/main,aws-parallelcluster-monitoring,install-monitoring.sh
base_os = alinux2
tags = {"Grafana" : "true"}
dcv_settings = my-dcv
additional_iam_policies = arn:aws:iam::aws:policy/CloudWatchFullAccess,arn:aws:iam::aws:policy/AWSPriceListServiceFullAccess,arn:aws:iam::aws:policy/AmazonSSMFullAccess,arn:aws:iam::aws:policy/AWSCloudFormationReadOnlyAccess,arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess
ebs_settings = ebs1
fsx_settings = parallel-fs
queue_settings = queue1, queue2

[dcv my-dcv]
enable = master

[fsx parallel-fs]
shared_dir = /fsx
storage_capacity = 1200
import_path = s3://<MY_S3_BUCKET>
imported_file_chunk_size = 1024
export_path = s3://<MY_S3_BUCKET>
deployment_type = SCRATCH_2

[ebs ebs1]
shared_dir = /shared
volume_size = 40
volume_type = io1
volume_iops = 400

[queue queue1]
compute_resource_settings = cr1
placement_group = DYNAMIC
enable_efa = false
disable_hyperthreading = false
compute_type = ondemand

[compute_resource cr1]
instance_type = c5.xlarge
min_count = 0
initial_count = 0
max_count = 10


[queue queue2]
compute_resource_settings = cr2
placement_group = DYNAMIC
enable_efa = false
disable_hyperthreading = false
compute_type = ondemand

[compute_resource cr2]
instance_type = c5.2xlarge
min_count = 0
initial_count = 0
max_count = 10